{% extends 'base.html' %}

{% block content %}
<div class="change">
<p>Изменение пароля</p>
<form method="post">
    {% csrf_token %}
    <div class="change_form">
        <input type="password" name="old_password" placeholder="Введите старый пароль" required>
        <input type="password" name="new_password1" placeholder="Введите новый пароль" required>
        <input type="password" name="new_password2" placeholder="Повторите пароль" required>
        <button type="submit">Изменить</button>
    </div>  
</form>
</div>
{% endblock %}