{% extends 'base.html' %}

{% block content %}
        <div class="list_main">
            <div class="list_title">
               <p class="list_title_text">{{ articles.title }} |
                {{ articles.author }} |
                {{ articles.date}}</p> 
            </div>
            <div class="list_body_1">
                <p class="list_body_text"> {{ articles.body }}</p>
            </div>
            <div class="list_set">
                <p class="list_set_text">
                    <a href="{% url 'articles_update' articles.pk %}">Изменить</a> | <a href="{% url 'articles_delete' articles.pk %}">Удалить</a> | <a href="{% url 'articles_list' %}">Назад</a>
                </p>
            </div>
        </div>
{% endblock %}