{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="home_1">
        <div class="home_1-1">Тут что-то должно быть</div>
        <div class="home_1-2">
            <div class="home_1-2_1">
                <div class="home_1-2_1-1"></div>
                <div class="home_1-2_1-2">
                    <p class="user_name">{{ user.username }}</p>
                    <div class="">
                        <!-- {% url 'articles_list' %} --> 
                        <p class=""><a href="{% url 'changepass' %}">Изменить пароль</a></p>  
                        <p class=""><a href="{% url 'logout_' %}">Выйти</a></p>
                        <p class=""><a href="#">Форум</a></p>
                    </div>
                </div>
            </div>
            <div class="home_1-2_2">
                <div class="home_1-2_2-1"></div>
                <div class="home_1-2_2-2">Тут что-то должно быть</div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="dont_auth">
            <p class="dont_auth_sig"><a href="{% url 'login' %}">Войти</a></p>
            <p class="dont_auth_reg"><a href="{% url 'signup' %}">Создать аккаунт</a></p>
        </div>
    {% endif %}
 
{% endblock %}