{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="home_1">
        <div class="home_1-1">
            <div id="block-for-slider">
                <div class="news_1">
                    <div class="news_1_1">ВАЙП И ОБНОВЛЕНИЕ ВСЕХ СЕРВЕРОВ</div>
                    <div class="news_1_2">
                        <div class="news_1_2_x">HITECH</div>
                        <div class="news_1_2_x">TMRPG</div>
                        <div class="news_1_2_x">PIXELMON</div>
                        <div class="news_1_2_x">MAGIC</div>
                    </div>
                </div>
                <div id="viewport">
                    <ul id="slidewrapper">
                        <li class="slide"><img src="https://i.ibb.co/SnHGQx0/1.webp" alt="1" class="slide-img"></li>
                        <li class="slide"><img src="https://i.ibb.co/M9dFzxX/2.webp" alt="2" class="slide-img"></li>
                        <li class="slide"><img src="https://i.ibb.co/3Wkg6J6/3.webp" alt="3" class="slide-img"></li>
                        <li class="slide"><img src="https://i.ibb.co/DCnxvFB/4.webp" alt="4" class="slide-img"></li>
                    </ul>
        
                    <div id="prev-next-btns">
                        <div id="prev-btn"></div>
                        <div id="next-btn"></div>
                    </div>
        
                    <ul id="nav-btns">
                        <li class="slide-nav-btn"></li>
                        <li class="slide-nav-btn"></li>
                        <li class="slide-nav-btn"></li>
                        <li class="slide-nav-btn"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="home_1-2">
            <div class="home_1-2_1">
                <div class="home_1-2_1-1"></div>
                <div class="home_1-2_1-2">
                    <p class="user_name">{{ user.username }}</p>
                    <div class="">
                        <!-- {% url 'articles_list' %} --> 
                        <p class=""><a href="{% url 'changepass' %}">Изменить пароль</a></p>  
                        <p class=""><a href="{% url 'logout_' %}">Выйти</a></p>
                        <p class=""><a href="#">Форум</a></p>
                    </div>
                </div>
            </div>
            <div class="home_1-2_2">
                <div class="home_1-2_2-1"></div>
                <div class="home_1-2_2-2"><a href="weather">Погода на серверe</a></div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="dont_auth">
            <p class="dont_auth_sig"><a href="{% url 'login' %}">Войти</a></p>
            <p class="dont_auth_reg"><a href="{% url 'signup' %}">Создать аккаунт</a></p>
        </div>
    {% endif %}
 
{% endblock %}